/* font-family: "acumin-pro", sans-serif;
font-weight: 400;
font-style: normal; */


/* font-family: "acumin-pro", sans-serif;
font-weight: 700;
font-style: normal; */


/* NAVIGATION */

header {
    margin-top: 20px;
}

html {
    background-color: #f6f8f9;
}

.nav-first__li {
    font-size: 20px;
    color: #fa6980;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    margin-right: 100px;
    margin-left: 40px;
}

.nav-li {
    display: inline-block;
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(44, 44, 44);
    font-weight: bold;
    margin-left: 40px;
}

.grey {
    color: gray;
}

.nav-girl__img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    vertical-align: -14px;
}


/* END NAVIGATION */


/* FIRST BOX DIV */
.big-title {
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    font-size: 26px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.trending-img {
    width: 360px;
    height: auto;
    padding-bottom: 35px;
    border-radius: 6px 6px 0px 0px;
}

.textONphoto {
    position: relative;
    overflow:hidden;
    height: 180px;
}

.onPhoto-text {
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 48px;
    color: #fff;
}
.two, .three {
    margin-left: 36px;
}

.first-box {
    width: 360px;
    height: 360px;
    background-color: #fff;
    border-radius: 0px 0px 6px 6px;
    display: inline-block;
}


.light-text {
    font-size: 13px;
    color: #a6adb4;
    font-family: "acumin-pro", sans-serif;
    padding-top: 77px;
    padding-left: 40px;
    line-height: 1.7;
}

.lightText_div {
    width: 280px;
    height: 38px;
    margin-bottom: 20px;
}

.trending-time__logo {
    width: 16px;
    color: #a6adb4;
    opacity: 0.4;
}

.timeLogo__text {
    color: #a6adb4;
    display: inline-block;
    vertical-align: 3px;
    margin-left: 10px;
    font-family: "acumin-pro", sans-serif;
    font-size: 13px;
}

.timeLogoText__div {
    margin-left: 40px;
    padding-top: 70px;
}

.trending-box {
    width: 1160px;
    margin: 0 auto;
}

.TWO {
    position: absolute;
    bottom: -100px;
    border-radius: 6px 6px 0px 0px;
}

.THREE {
    position: absolute;
    bottom: -200px;
    border-radius: 6px 6px 0px 0px;
}









