/* font-family: "acumin-pro", sans-serif;
font-weight: 400;
font-style: normal; */


/* font-family: "acumin-pro", sans-serif;
font-weight: 700;
font-style: normal; */


/* NAVIGATION */

header {
    margin-top: 20px;
}

html {
    background-color: #f6f8f9;
}

.nav-first__li {
    font-size: 20px;
    color: #fa6980;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    margin-right: 100px;
    margin-left: 40px;
}

.nav-li {
    display: inline-block;
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(44, 44, 44);
    font-weight: bold;
    margin-left: 40px;
    border-radius: 100px;

}

.grey {
    color: gray;
}

.profile-Photo {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    overflow:hidden;
    display: inline-block;
    position: relative;
    vertical-align: -12px;
    margin-left: 40px;
}

.nav-girl__img {
    position: absolute;
    width: auto;
    height: 50px;
}


/* END NAVIGATION */


/* FIRST BOX DIV */
.big-title {
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    font-size: 26px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.trending-img {
    width: 360px;
    padding-bottom: 35px;
}


.onPhoto-text {
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 48px;
    color: #fff;
}

.textONphoto {
    position: relative;
    overflow:hidden;
    height: 180px;
    border-radius: 6px 6px 0px 0px;

}

.two, .three {
    margin-left: 36px;
}

.first-box {
    width: 360px;
    height: 360px;
    background-color: #fff;
    border-radius: 0px 0px 6px 6px;
    display: inline-block;
}


.light-text {
    font-size: 13px;
    color: #a6adb4;
    font-family: "acumin-pro", sans-serif;
    padding-top: 77px;
    padding-left: 40px;
    line-height: 1.7;
}

.lightText_div {
    width: 280px;
    height: 38px;
    margin-bottom: 20px;
}

.trending-time__logo {
    width: 16px;
    color: #a6adb4;
    opacity: 0.4;
}

.timeLogo__text {
    color: #a6adb4;
    display: inline-block;
    vertical-align: 3px;
    margin-left: 10px;
    font-family: "acumin-pro", sans-serif;
    font-size: 13px;
}

.timeLogoText__div {
    margin-left: 40px;
    padding-top: 70px;
}

.trending-box {
    width: 1160px;
    margin: 0 auto;
}

.TWO {
    position: absolute;
    bottom: -100px;
    border-radius: 6px 6px 0px 0px;
}

.THREE {
    position: absolute;
    bottom: -200px;
    border-radius: 6px 6px 0px 0px;
}

/* END FIRST BOX DIV */



/* HAPPENING NOW BOX */
.happening__now-box {
    width: 1160px;
    margin: 0 auto;
}


.happening-firstBox {
    width: 760px;
    height: 900px;
    display: inline-block;
}

.happening_imgs {
    width: 760px;
    height: 430px;
    margin-bottom: 40px;
    border-radius: 6px;
}


.happening-secondBox {
    width: 360px;
    display: inline-block;
}

.happening_imgs2 {
    width: 360px;
    height: 210px;
    border-radius: 6px;
    margin-bottom: 102px;
    margin-left: 36px;
}
/* END HAPPENING NOW BOX */



/* FOOTER */

.footer {
    width: 100%;
    height: 200px;
    background-color: #a6adb4;
    padding-top: 56px;
}

.firstUL, .secondUL, .thirdUL, .logo-div {
    display: inline-block;
}

.firstUL, .secondUL, .thirdUL {
    margin-left: 90px;
}

.logo-div {
    vertical-align: top;
}

.footer-logo-text {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}

.footer-li {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #CBD0D3;
    line-height: 1.9;
}
/* END FOOTER */


